{% extends 'store/main.html' %}
{% block content %}
<body>
	<div class = "container" id="contentframe" style="position:relative; top: 100px; left: 0px;">
<center>
	<iframe title="marketdash" width="600" height="373.5" src="https://app.powerbi.com/view?r=eyJrIjoiY2I1ZTc5ZjQtYTE3MC00MTAyLWIyNzUtM2I5ZDc3MDllY2Y0IiwidCI6IjE5MWRkNjBkLTA5MGEtNDQ1OS1hMDcxLWIwM2M4MGYzYWMzYiJ9&pageName=ReportSection" frameborder="0" allowFullScreen="true"></iframe>
</center>
	</div>
</body>
{% endblock content %}  